*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1009px;
    padding: 15px 25px;

}

span{
    color:rgba(28, 155, 142, 0.945);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

li a{
    display: flex;
    color: black;
    font-weight: 550;
}

li a:hover{
    color: rgb(180, 9, 9);
}

ul.Cons li a{
    color: white;
}


.Contactanos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
    transform: translate(-25%, 200%);
}


h2{
    display: flex;
    margin-bottom: 20px;
    gap: 5px;
    transform: translate( -40%, 50%);
}

p#parrafo{
    max-width: 450px;
}

.Imagen{
    display: flex;
    justify-content: center; 
    height: 350px;
    width: 300px;
    transform: translate(850px, -10%);
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    transform: translate(-480px, 670%);
}

button#B1{
    display: flex;
    padding: 8px 8px;
    border-radius: 8px;
    background-color:rgba(28, 155, 142, 0.945);
    text-decoration: none;
    border: none;
    transition: all 0.3s ease;
    
}

button#B1:hover{
    background-color: rgb(110, 107, 107)
}

button#B2{
    background-color: transparent;
    border: none;
}